{% extends "base.html" %} {% block title%} Employee Details {% endblock title %}
{%block content %}
<h1 class="text-center text-warning">Employee Details</h1>

<div style="display: flex; justify-content: center; align-items: center; height: 550px; margin: 0;">


<div class="container dark-transparent-container">
  <table border="1" cellpadding="5" cellspacing="0">
    <tr>
      <th>Salary:</th>
      <td>{{ employee.id }}</td>
    </tr>
    <tr>
      <th>First Name:</th>
      <td>{{ employee.first_name }}</td>
    </tr>
    <tr>
      <th>Last Name:</th>
      <td>{{ employee.last_name }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ employee.email }}</td>
    </tr>
    <tr>
      <th>Contact No:</th>
      <td>{{ employee.mobile }}</td>
    </tr>
  </table>
  <br />
  <a href="{% url 'home' %}">Back to Employee List</a>
</div>
</div>
{% endblock content %}
